<%= @name %><br>
<%= @genre %><br>
<%= image_tag @image %><br>
<%= link_to "Listen on Spotify", @spotify_url %><br>

<h3>地域を選択してください</h3>
<%= form_with model:@artist, url:artists_path, method: :post, local: true do |form| %>
<%= form.collection_select(:state_id, State.all, :id, :name, {},{class:"states"}) %>
<%= hidden_field_tag :name, @name %>
<%= hidden_field_tag :genre, @genre %>
<%= hidden_field_tag :image, @image %>
<%= hidden_field_tag :spotify_url, @spotify_url %>
<%= form.submit '新規投稿', name: nil %>
<% end %>
